body {
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    margin: 0;
    position: relative;
    /* Додаємо це для абсолютного позиціонування кульок */
}

.card {
    display: flex;
    width: 80%;
    max-width: 800px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.left-page,
.right-page {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-page {
    background-color: #ffffff;
}

.right-page {
    background-color: #e3e3e3;
    position: relative;
}

.left-page h1 {
    color: #ff6347;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.right-page p {
    color: #b9abff;
    font-size: 1.2em;
}

.cake img {
    width: 200px;
    margin-top: 20px;
}

.balloon-container {
    position: absolute;
    margin: 10px;
    animation: float 5s ease-in-out infinite;
}

.balloon {
    width: 80px;
    height: 100px;
    background-color: #ff0000;
    /* Колір кульки */
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Тінь для об'ємності */
}

.balloon::before {
    content: "";
    position: absolute;
    bottom: -80px;
    width: 1px;
    height: 80px;
    background-color: #000000;
    /* Колір нитки */
}

.balloon::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 20%;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    /* Колір і прозорість блиску */
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    /* Розмиття для блиску */
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
    overflow: hidden;
}

.confetti {
    position: absolute;
    top: 0;
    width: 10px;
    height: 20px;
    opacity: 0.8;
    transform: rotate(45deg);
    animation: fall 5s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}